---
import GitHubIcon from './icons/GitHubIcon.astro';
import LinkIcon from './icons/LinkIcon.astro';
import LinkButton from './LinkButton.astro';
import { DEFAULT_LANG, type Language } from '@/i18n/languages';
import { useT } from '@/i18n/utils';
import TAGS from '@/data/tags';

const lang = Astro.currentLocale as Language;
const t = useT(lang || DEFAULT_LANG);

const PROJECTS = [
	{
		title: t('PROJECTS.[0].title'),
		description: t('PROJECTS.[0].description'),
		github: t('PROJECTS.[0].links.code'),
		link: t('PROJECTS.[0].links.demo'),
		image: t('PROJECTS.[0].imageUrl'),
		tags: [
			TAGS.LARAVEL,
			TAGS.JAVASCRIPT,
			TAGS.REACT,
			TAGS.REACT_ROUTER,
			TAGS.TAILWIND,
			TAGS.MOTION,
		],
	},
	{
		title: t('PROJECTS.[1].title'),
		description: t('PROJECTS.[1].description'),
		github: t('PROJECTS.[1].links.code'),
		link: t('PROJECTS.[1].links.demo'),
		image: t('PROJECTS.[1].imageUrl'),
		tags: [TAGS.HTML, TAGS.CSS],
	},
	{
		title: t('PROJECTS.[2].title'),
		description: t('PROJECTS.[2].description'),
		github: t('PROJECTS.[2].links.code'),
		link: t('PROJECTS.[2].links.demo'),
		image: t('PROJECTS.[2].imageUrl'),
		tags: [TAGS.TYPESCRIPT, TAGS.REACT, TAGS.REACT_ROUTER, TAGS.TAILWIND],
	},
];
---

<div class="flex flex-col gap-y-16">
	{
		PROJECTS.map(({ image, title, description, tags, github, link }) => (
			<article class="group flex flex-col space-x-0 space-y-8 md:flex-row md:space-x-8 md:space-y-0">
				<div class="w-full md:w-1/2">
					<div class="relative col-span-6 row-span-5 flex transform flex-col items-center gap-8 overflow-clip rounded-xl shadow-xl transition duration-500 ease-in-out sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
						<img
							alt={title}
							class="h-56 w-full object-cover object-top transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
							loading="lazy"
							src={image}
						/>
					</div>
				</div>

				<div class="w-full md:w-1/2 md:max-w-lg">
					<h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
					<div class="mt-2 flex flex-wrap">
						<ul class="mb-2 flex flex-row flex-wrap gap-2">
							{tags.map((tag) => (
								<li>
									<span class:list={['flex gap-x-2 rounded-full px-2 py-1 text-xs', tag.class]}>
										<tag.icon class="size-4" />
										{tag.name}
									</span>
								</li>
							))}
						</ul>

						<div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
						<footer class="mt-4 flex items-end justify-start gap-x-4">
							{github && (
								<LinkButton href={github}>
									<GitHubIcon class="size-6" />
									{t('PROJECTS.btn.code')}
								</LinkButton>
							)}
							{link && (
								<LinkButton href={link}>
									<LinkIcon class="size-4" />
									{t('PROJECTS.btn.demo')}
								</LinkButton>
							)}
						</footer>
					</div>
				</div>
			</article>
		))
	}
</div>
